.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
}

h2 {
    color: gray;
}

.dashboard {
    margin-top: 3rem;
}

.dashboard-cards {
    padding: 3rem 0;
}

.dashboard-cards .card {
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .dashboard-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .dashboard-cards .card {
        flex-basis: 100px;
    }

    .dashboard-cards .card:not(:last-child) {
        margin-right: 2rem;
    }
}